/*
body {
  background-color: #e2e3e1;
  font-family: sans-serif;
  margin: 0;
}
*/
.body {
  height: 20rem;
  overflow: auto;
}
/*
th:has(.resizer) {
  position: relative;
}
.resizer {
  background-color: #ccc;
  bottom: 0;
  cursor: col-resize;
  position: absolute;
  right: 0;
  top: 0;
  width: .25rem;
}
.isResizing {
  background-color: black;
}
table {
  background-color: white;
  border-collapse: collapse;
  border-spacing: 0;
}
th, td {
  border: 1px solid #e2e3e1;
  height: 1rem;
  padding: .5rem;
  text-align: left;
  vertical-align: top;
}
th {
  border-top: none;
  cursor: pointer;
}
th:first-child, td:first-child {
    border-left: none;
}
th:last-child, td:last-child {
    border-right: none;
}
tr {
  height: 1rem;
}
*/
